<div class="jumbotron"></div>
<h1>Your Saved Articles</h1>
<button class="btn-primary" id="articles"<>Back to Articles</button>


{{#each articles}}
    {{#if saved}}
        <a href="{{link}}" target="_blank">
        <h3>{{title}}</h3>
        </a>
    <button article_id="{{_id}}" title="{{title}}" class="btn-danger">Delete</button>
    <button article_id="{{_id}}" title="{{title}}" class="btn-warning">Note</button>
    {{/if}}
{{/each}}